<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body style="color:white;">
		<nav>
    		<ul>
        		<li><a href="https://shweta-yadav.github.io/chocoholic.html">Home</a></li>
	        	<li><a href="https://shweta-yadav.github.io/_about/chocoholic.html" target="_self">About</a></li>
        		<li><a href="https://shweta-yadav.github.io/history/chocoholic.html" target="_self">History</a></li>
        		<li><a href="https://shweta-yadav.github.io/facts.html" target="_self">Facts</a></li>
			<li><a href="https://shweta-yadav.github.io/_blog/chocoholic.html" target="_self" > Blog </a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		Keep Eating Chocolates!!!
		</footer>
	</body>
</html>
