<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body style="color:white;">
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/history">History</a></li>
        		<li><a href="/facts">Facts</a></li>
			<li><a href="http://shweta-yadav.github.io/blog/chocoholic.html">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		Keep Eating Chocolates!!!
		</footer>
	</body>
</html>
